# Measured sky check

> Check that the L1 spectra have a measured sky brightness fainter than the observational requirement.

In [ ]:
# |default_exp diagnostics.measured_sky_check

In [ ]:
# |hide

# This prevents warnings from appearing in cell outputs, since it has proved difficult
# to suppress warnings arising from dask workers.
%env PYTHONWARNINGS=ignore

env: PYTHONWARNINGS=ignore

In [ ]:
# |export

import numpy as np
import xarray as xr

from qagmire.data import (
    get_lr_l1_stack_files,
    read_fibre_table_nspec,
    read_l1_data,
    read_primary_header,
)
from qagmire.quality_assurance import Diagnostics
from qagmire.utilities import get_mags_from_spectra, parse_obstemp

To write checks of the data, we create a subclass of `Diagnostics` and implement the `tests` method.

In [ ]:
# |export


class MeasuredSkyCheck(Diagnostics):
    """Measured sky check.

    A reproduction of the SkyTrueCheck class in the weaveio
    [sky_true_limit](https://github.com/bamford/QAG/blob/master/diagnostics/sky_true_limit.py).

    This tests for the following cases:

    * Does the measured sky brightness in the raw spectra satisfy the observational requirement?
    * Does the measured sky brightness vary substantially between the sky fibres in an exposure?
    """

    def __init__(
        self,
        variation_limit: float = 0.2,  # the maximum permissible sky-brightness variation in an exposure
        **kwargs,  # additional keyword arguments are passed to the `Diagnostics` constructor
    ):
        self.ap_area = np.pi * (0.65 * 0.65)
        self.variation_limit = variation_limit
        super().__init__(**kwargs)

    def tests(self, **kwargs):
        files = get_lr_l1_stack_files(**kwargs)
        data = read_l1_data(files)
        # merge in info from fibre_table
        fibre_table = read_fibre_table_nspec(files)
        data = xr.merge((data, fibre_table))
        data = data.where(data["TARGUSE"] == b"S")
        self.fibre_table = fibre_table
        # merge in observational requirements
        hdr = read_primary_header(files)
        obs = parse_obstemp(hdr["OBSTEMP"])
        data = xr.merge((data, obs))
        # limit the dataset to the blue camera
        data = data.sel(filename=(data["CAMERA"] == "BLUE"), drop=True)
        data = data.drop_dims("LAMBDA_R")
        # perform the tests by OBID, rather than filename
        data = data.swap_dims(filename="OBID")

        data["flam"] = data["BLUE_FLUX_NOSS"] * data["BLUE_SENSFUNC"] / self.ap_area
        data["mag_obs"] = get_mags_from_spectra(
            data["LAMBDA_B"], data["flam"], band="GROUND_JOHNSON_V"
        )
        self.data = data

        self.stats = xr.Dataset(
            {
                "median_sky": data["mag_obs"].median("NSPEC"),
                "sky_limit": data["sky_brightness"],
                "sigma_sky": data["mag_obs"].std("NSPEC"),
            }
        )

        tests = [
            {
                "name": "sky_too_bright",
                "description": "Does the measured sky brightness in the raw spectra "
                "satisfy the observational requirement?",
                "test": self.stats["median_sky"] < self.stats["sky_limit"],
            },
            {
                "name": "sky_too_variable",
                "description": "Does the measured sky brightness vary substantially "
                f"(> {self.variation_limit} mag) between the sky fibres for each OB?",
                "test": self.stats["sigma_sky"] > self.variation_limit,
            },
        ]
        return tests

## Demonstration tests

In [ ]:
tests = MeasuredSkyCheck(n_processes=1)
tests.run(date="201*")

Locating and converting where necessary:   0%|                                                                                      | 0/34 [00:00<?, ?it/s]

Locating and converting where necessary: 100%|███████████████████████████████████████████████████████████████████████████| 34/34 [00:00<00:00, 2960.42it/s]

Reading netCDF files...

took 1.85 s. Size is 15525.568 Mb

Reading files:   0%|                                                                                                                | 0/34 [00:00<?, ?it/s]

Reading files:   3%|███                                                                                                     | 1/34 [00:00<00:05,  6.01it/s]

Reading files:  29%|██████████████████████████████▎                                                                        | 10/34 [00:00<00:00, 44.20it/s]

Reading files:  56%|█████████████████████████████████████████████████████████▌                                             | 19/34 [00:00<00:00, 60.01it/s]

Reading files:  79%|█████████████████████████████████████████████████████████████████████████████████▊                     | 27/34 [00:00<00:00, 66.82it/s]

Reading files: 100%|███████████████████████████████████████████████████████████████████████████████████████████████████████| 34/34 [00:00<00:00, 57.60it/s]

Creating Dataset...

took 0.28 s. Size is 10.214 Mb

Reading files:   0%|                                                                                                                | 0/34 [00:00<?, ?it/s]

Reading files:   3%|███                                                                                                     | 1/34 [00:00<00:03,  9.10it/s]

Reading files:  26%|███████████████████████████▌                                                                            | 9/34 [00:00<00:00, 25.40it/s]

Reading files:  47%|████████████████████████████████████████████████▍                                                      | 16/34 [00:00<00:00, 25.54it/s]

Reading files:  82%|████████████████████████████████████████████████████████████████████████████████████▊                  | 28/34 [00:00<00:00, 45.67it/s]

Reading files: 100%|███████████████████████████████████████████████████████████████████████████████████████████████████████| 34/34 [00:00<00:00, 41.60it/s]

Creating Dataset...

took 0.61 s. Size is 0.222 Mb
Tests took 5.36 s to prepare (including reading data).

Tests took 14.76 s to perform.
sky_too_bright:
    Does the measured sky brightness in the raw spectra satisfy the observational requirement?
sky_too_variable:
    Does the measured sky brightness vary substantially (> 0.2 mag) between the sky fibres for each OB?

In [ ]:
tests.summary()

2 varieties of test and 17 tested elements per variety, for total of 34 tests.
12 tests failed (35.29%) and 22 tests passed (64.71%).

,,,,,,failed,total fails
,,,,,test,sky_too_bright,
OBID,filename,RUN,CAMERA,MJD,NIGHT,,
3170,stack_1002286,1002286,BLUE,57640.911400,20160909,True,1
3175,stack_1002334,1002334,BLUE,57641.137905,20160909,True,1
3191,stack_1002214,1002214,BLUE,57639.865255,20160908,True,1
3217,stack_1002310,1002310,BLUE,57641.001725,20160909,True,1
3295,stack_1002346,1002346,BLUE,57641.183009,20160909,True,1
3346,stack_1002238,1002238,BLUE,57639.954410,20160908,True,1
3372,stack_1002262,1002262,BLUE,57640.180567,20160908,True,1
3380,stack_1002322,1002322,BLUE,57641.092604,20160909,True,1
3434,stack_1002250,1002250,BLUE,57639.999560,20160908,True,1
3653,stack_1003354,1003354,BLUE,57809.111794,20170224,True,1
3756,stack_1003438,1003438,BLUE,57811.080127,20170226,True,1
3900,stack_1003330,1003330,BLUE,57809.025185,20170224,True,1

## Verification

We now do some spot checks to verify and expand upon the above test results. Note that we assigned `self.stats` inside `tests`. This provides a way of accessing the statistics used in the tests, without having to construct them again. However, we still need to recompute the statistics (or whatever is derived from the `self.stats` `DataArray`), which takes a little time.

In [ ]:
tests.stats.to_dataframe()[tests.stats.data_vars]

      median_sky  sky_limit  sigma_sky
OBID
3191   20.603799       21.0   0.074585
3133   20.773965       20.5   0.004181
3346   20.820886       21.0   0.010860
3434   21.248163       21.7   0.005929
3372   21.114255       21.5   0.005882
3170   20.483335       20.5   0.003557
3189   20.549922       20.5   0.019661
3217   20.489997       21.0   0.012291
3380   21.393496       21.7   0.007065
3175   21.381906       21.7   0.005771
3295   21.220036       21.5   0.005482
3802   21.532988       21.5   0.007846
3900   21.368027       21.5   0.007033
3803   21.513620       21.5   0.007022
3653   21.340145       21.5   0.006760
3806   21.546429       21.5   0.007333
3756   21.368030       21.5   0.005959

In [ ]:
# |hide
import nbdev

nbdev.nbdev_export()