# Observing conditions check

> Check that the observing conditions meet requirements.

In [ ]:
from qagmire.diagnostics import ObsCondCheck

## Test GA-CALIB dataset

In [ ]:
tests = ObsCondCheck()
tests.run(folder="GA-CALIB")

Reading files:   0%|                                                                                                                | 0/36 [00:00<?, ?it/s]

Reading files:   3%|██▉                                                                                                     | 1/36 [00:00<00:03,  9.10it/s]

Reading files:  28%|████████████████████████████▌                                                                          | 10/36 [00:00<00:00, 51.64it/s]

Reading files:  44%|█████████████████████████████████████████████▊                                                         | 16/36 [00:00<00:00, 42.15it/s]

Reading files:  61%|██████████████████████████████████████████████████████████████▉                                        | 22/36 [00:00<00:00, 47.22it/s]

Reading files:  75%|█████████████████████████████████████████████████████████████████████████████▎                         | 27/36 [00:00<00:00, 37.28it/s]

Reading files: 100%|███████████████████████████████████████████████████████████████████████████████████████████████████████| 36/36 [00:00<00:00, 49.30it/s]

Reading files: 100%|███████████████████████████████████████████████████████████████████████████████████████████████████████| 36/36 [00:00<00:00, 44.79it/s]

Creating Dataset...

took 0.60 s. Size is 0.227 Mb

Tests took 3.05 s to prepare (including reading data).

Tests took 1.00 s to perform.
sky_too_bright:
    Is the sky brighter than the requirement?
seeing_too_poor:
    Is the seeing worse than the requirement?
wrong_run_count:
    Are there other than two runs with the same EXPID?
unmatched_runs_sky:
    Do runs with the same EXPID have different sky brightness?
unmatched_runs_seeing:
    Do runs with the same EXPID have different seeing?

In [ ]:
tests.summary_per_test()

5 varieties of test and 18 tested elements per variety, for total of 90 tests.
17 tests failed (18.89%) and 73 tests passed (81.11%).

                       total fails
test
unmatched_runs_seeing           11
unmatched_runs_sky               3
sky_too_bright                   2
seeing_too_poor                  1
wrong_run_count                  0

In [ ]:
tests.summary()

5 varieties of test and 18 tested elements per variety, for total of 90 tests.
17 tests failed (18.89%) and 73 tests passed (81.11%).

                                                                         failed  \
test                                                            seeing_too_poor
EXPID         filename       RUN     OBID  MJD         NIGHT
1238300000002 single_3051174 3051174 12383 60386.88906 20240317           False
1238300000001 single_3051172 3051172 12383 60386.87492 20240317           False
1239200000002 single_3051212 3051212 12392 60386.97419 20240317            True
1239800000002 single_3050613 3050613 12398 60384.88693 20240315           False
1236700000003 single_3050890 3050890 12367 60385.90479 20240316           False
1238200000001 single_3050636 3050636 12382 60384.93434 20240315           False
1238200000002 single_3050638 3050638 12382 60384.94846 20240315           False
1238200000003 single_3050640 3050640 12382 60384.96259 20240315           False
1238300000003 single_3051176 3051176 12383 60386.90320 20240317           False
1239200000003 single_3051214 3051214 12392 60386.98834 20240317           False
1239800000001 single_3050611 3050611 12398 60384.87280 20240315           False
1239800000003 single_3050615 3050615 12398 60384.90106 20240315           False

                                                                                \
test                                                            sky_too_bright
EXPID         filename       RUN     OBID  MJD         NIGHT
1238300000002 single_3051174 3051174 12383 60386.88906 20240317           True
1238300000001 single_3051172 3051172 12383 60386.87492 20240317           True
1239200000002 single_3051212 3051212 12392 60386.97419 20240317          False
1239800000002 single_3050613 3050613 12398 60384.88693 20240315          False
1236700000003 single_3050890 3050890 12367 60385.90479 20240316          False
1238200000001 single_3050636 3050636 12382 60384.93434 20240315          False
1238200000002 single_3050638 3050638 12382 60384.94846 20240315          False
1238200000003 single_3050640 3050640 12382 60384.96259 20240315          False
1238300000003 single_3051176 3051176 12383 60386.90320 20240317          False
1239200000003 single_3051214 3051214 12392 60386.98834 20240317          False
1239800000001 single_3050611 3050611 12398 60384.87280 20240315          False
1239800000003 single_3050615 3050615 12398 60384.90106 20240315          False

                                                                                       \
test                                                            unmatched_runs_seeing
EXPID         filename       RUN     OBID  MJD         NIGHT
1238300000002 single_3051174 3051174 12383 60386.88906 20240317                  True
1238300000001 single_3051172 3051172 12383 60386.87492 20240317                  True
1239200000002 single_3051212 3051212 12392 60386.97419 20240317                  True
1239800000002 single_3050613 3050613 12398 60384.88693 20240315                  True
1236700000003 single_3050890 3050890 12367 60385.90479 20240316                 False
1238200000001 single_3050636 3050636 12382 60384.93434 20240315                  True
1238200000002 single_3050638 3050638 12382 60384.94846 20240315                  True
1238200000003 single_3050640 3050640 12382 60384.96259 20240315                  True
1238300000003 single_3051176 3051176 12383 60386.90320 20240317                  True
1239200000003 single_3051214 3051214 12392 60386.98834 20240317                  True
1239800000001 single_3050611 3050611 12398 60384.87280 20240315                  True
1239800000003 single_3050615 3050615 12398 60384.90106 20240315                  True

                                                                                    \
test                                                            unmatched_runs_sky
EXPID         filename       RUN     OBID  MJD         NIGHT
1238300000002 single_3051174 3051174 12383 60386.88906 20240317               True
1238300000001 single_3051172 3051172 12383 60386.87492 20240317              False
1239200000002 single_3051212 3051212 12392 60386.97419 20240317              False
1239800000002 single_3050613 3050613 12398 60384.88693 20240315               True
1236700000003 single_3050890 3050890 12367 60385.90479 20240316               True
1238200000001 single_3050636 3050636 12382 60384.93434 20240315              False
1238200000002 single_3050638 3050638 12382 60384.94846 20240315              False
1238200000003 single_3050640 3050640 12382 60384.96259 20240315              False
1238300000003 single_3051176 3051176 12383 60386.90320 20240317              False
1239200000003 single_3051214 3051214 12392 60386.98834 20240317              False
1239800000001 single_3050611 3050611 12398 60384.87280 20240315              False
1239800000003 single_3050615 3050615 12398 60384.90106 20240315              False

                                                                total fails
test
EXPID         filename       RUN     OBID  MJD         NIGHT
1238300000002 single_3051174 3051174 12383 60386.88906 20240317           3
1238300000001 single_3051172 3051172 12383 60386.87492 20240317           2
1239200000002 single_3051212 3051212 12392 60386.97419 20240317           2
1239800000002 single_3050613 3050613 12398 60384.88693 20240315           2
1236700000003 single_3050890 3050890 12367 60385.90479 20240316           1
1238200000001 single_3050636 3050636 12382 60384.93434 20240315           1
1238200000002 single_3050638 3050638 12382 60384.94846 20240315           1
1238200000003 single_3050640 3050640 12382 60384.96259 20240315           1
1238300000003 single_3051176 3051176 12383 60386.90320 20240317           1
1239200000003 single_3051214 3051214 12392 60386.98834 20240317           1
1239800000001 single_3050611 3050611 12398 60384.87280 20240315           1
1239800000003 single_3050615 3050615 12398 60384.90106 20240315           1

## Details

There are a couple of cases of seeing or sky not meeting requirements. Sometimes the seeing and sky values differ for the two runs in an exposure.

In [ ]:
hdr, obs = tests.data
obs = obs.to_dataframe().reset_index().set_index("EXPID")
hdr = hdr.to_dataframe().reset_index().set_index(["EXPID", "CAMERA"])

In [ ]:
def highlight(s, col, greater=False):
    col1 = col2 = ""
    if greater:
        if (s["BLUE"] > s[col]) or (s["RED"] > s[col]):
            col1 = "yellow"
    else:
        if (s["BLUE"] < s[col]) or (s["RED"] < s[col]):
            col1 = "yellow"
    if s["BLUE"] != s["RED"]:
        col2 = "yellow"
    return [f"background-color: {c}" for c in (col1, col2, col2)]

In [ ]:
requested = obs[["sky_brightness"]]
reported = hdr[["SKYBRTEL"]].unstack("CAMERA").droplevel(0, axis="columns")
sky_table = requested.join(reported)
sky_table.style.apply(highlight, axis=1, col="sky_brightness")

In [ ]:
requested = obs[["seeing"]]
reported = hdr[["SEEINGB"]].unstack("CAMERA").droplevel(0, axis="columns")
seeing_table = requested.join(reported)
seeing_table.style.apply(highlight, axis=1, col="seeing", greater=True)