# Raw spectrum value check

> Check that all raw spectra have real numbers and unsaturated pixels in their counts arrays.

In [ ]:
from qagmire.diagnostics import RawSpectrumValueCheck

## Test GA-CALIB dataset

In [ ]:
tests = RawSpectrumValueCheck(n_processes=8)
tests.run(folder="GA-CALIB")

Locating and converting where necessary:   0%|                                                                                      | 0/36 [00:00<?, ?it/s]

Locating and converting where necessary:   3%|██▏                                                                           | 1/36 [00:01<01:04,  1.85s/it]

Locating and converting where necessary:   8%|██████▌                                                                       | 3/36 [00:02<00:18,  1.77it/s]

Locating and converting where necessary:  19%|███████████████▏                                                              | 7/36 [00:02<00:05,  5.01it/s]

Locating and converting where necessary:  25%|███████████████████▌                                                          | 9/36 [00:04<00:11,  2.29it/s]

Locating and converting where necessary:  33%|█████████████████████████▋                                                   | 12/36 [00:04<00:06,  3.61it/s]

Locating and converting where necessary:  39%|█████████████████████████████▉                                               | 14/36 [00:04<00:04,  4.54it/s]

Locating and converting where necessary:  44%|██████████████████████████████████▏                                          | 16/36 [00:04<00:04,  4.69it/s]

Locating and converting where necessary:  50%|██████████████████████████████████████▌                                      | 18/36 [00:06<00:06,  2.93it/s]

Locating and converting where necessary:  61%|███████████████████████████████████████████████                              | 22/36 [00:06<00:03,  4.57it/s]

Locating and converting where necessary:  67%|███████████████████████████████████████████████████▎                         | 24/36 [00:06<00:02,  4.55it/s]

Locating and converting where necessary:  69%|█████████████████████████████████████████████████████▍                       | 25/36 [00:07<00:03,  3.15it/s]

Locating and converting where necessary:  72%|███████████████████████████████████████████████████████▌                     | 26/36 [00:07<00:03,  3.22it/s]

Locating and converting where necessary:  75%|█████████████████████████████████████████████████████████▊                   | 27/36 [00:08<00:02,  3.67it/s]

Locating and converting where necessary:  78%|███████████████████████████████████████████████████████████▉                 | 28/36 [00:08<00:01,  4.21it/s]

Locating and converting where necessary:  83%|████████████████████████████████████████████████████████████████▏            | 30/36 [00:08<00:01,  5.47it/s]

Locating and converting where necessary:  86%|██████████████████████████████████████████████████████████████████▎          | 31/36 [00:08<00:00,  5.55it/s]

Locating and converting where necessary:  89%|████████████████████████████████████████████████████████████████████▍        | 32/36 [00:08<00:00,  5.94it/s]

Locating and converting where necessary:  92%|██████████████████████████████████████████████████████████████████████▌      | 33/36 [00:09<00:01,  2.37it/s]

Locating and converting where necessary:  94%|████████████████████████████████████████████████████████████████████████▋    | 34/36 [00:09<00:00,  2.83it/s]

Locating and converting where necessary:  97%|██████████████████████████████████████████████████████████████████████████▊  | 35/36 [00:10<00:00,  3.26it/s]

Locating and converting where necessary: 100%|█████████████████████████████████████████████████████████████████████████████| 36/36 [00:10<00:00,  3.77it/s]

Locating and converting where necessary: 100%|█████████████████████████████████████████████████████████████████████████████| 36/36 [00:10<00:00,  3.48it/s]

Reading netCDF files...

took 1.36 s. Size is 5336.749 Mb
Tests took 13.13 s to prepare (including reading data).

Tests took 7.47 s to perform.
too_many_sat_in_counts1:
    Are there too many pixels saturated above the ADU threshold in counts1?
neg_pixels_in_counts1:
    Are there negative pixel values in counts1?
nan_pixels_in_counts1:
    Are there non-finite pixel values in counts1?
too_many_sat_in_counts2:
    Are there too many pixels saturated above the ADU threshold in counts2?
neg_pixels_in_counts2:
    Are there negative pixel values in counts2?
nan_pixels_in_counts2:
    Are there non-finite pixel values in counts2?

In [ ]:
tests.summary()

6 varieties of test and 36 tested elements per variety, for total of 216 tests.
13 tests failed (6.02%) and 203 tests passed (93.98%).

                                                                    failed  \
test                                               too_many_sat_in_counts1
filename RUN     CAMERA MJD         NIGHT    OBID
r3050928 3050928 RED    60385.97607 20240316 12366                    True
r3051213 3051213 BLUE   60386.97421 20240317 12392                    True
r3050613 3050613 RED    60384.88693 20240315 12398                    True
r3050637 3050637 BLUE   60384.93435 20240315 12382                    True
r3050638 3050638 RED    60384.94846 20240315 12382                    True
r3050641 3050641 BLUE   60384.96260 20240315 12382                   False
r3050926 3050926 RED    60385.96193 20240316 12366                    True
r3050929 3050929 BLUE   60385.97609 20240316 12366                    True
r3051172 3051172 RED    60386.87492 20240317 12383                   False
r3051174 3051174 RED    60386.88906 20240317 12383                    True
r3051176 3051176 RED    60386.90320 20240317 12383                   False

                                                                            \
test                                               too_many_sat_in_counts2
filename RUN     CAMERA MJD         NIGHT    OBID
r3050928 3050928 RED    60385.97607 20240316 12366                    True
r3051213 3051213 BLUE   60386.97421 20240317 12392                    True
r3050613 3050613 RED    60384.88693 20240315 12398                   False
r3050637 3050637 BLUE   60384.93435 20240315 12382                   False
r3050638 3050638 RED    60384.94846 20240315 12382                   False
r3050641 3050641 BLUE   60384.96260 20240315 12382                    True
r3050926 3050926 RED    60385.96193 20240316 12366                   False
r3050929 3050929 BLUE   60385.97609 20240316 12366                   False
r3051172 3051172 RED    60386.87492 20240317 12383                    True
r3051174 3051174 RED    60386.88906 20240317 12383                   False
r3051176 3051176 RED    60386.90320 20240317 12383                    True

                                                   total fails
test
filename RUN     CAMERA MJD         NIGHT    OBID
r3050928 3050928 RED    60385.97607 20240316 12366           2
r3051213 3051213 BLUE   60386.97421 20240317 12392           2
r3050613 3050613 RED    60384.88693 20240315 12398           1
r3050637 3050637 BLUE   60384.93435 20240315 12382           1
r3050638 3050638 RED    60384.94846 20240315 12382           1
r3050641 3050641 BLUE   60384.96260 20240315 12382           1
r3050926 3050926 RED    60385.96193 20240316 12366           1
r3050929 3050929 BLUE   60385.97609 20240316 12366           1
r3051172 3051172 RED    60386.87492 20240317 12383           1
r3051174 3051174 RED    60386.88906 20240317 12383           1
r3051176 3051176 RED    60386.90320 20240317 12383           1

In [ ]:
tests.summary(per_test=True, by="RUN")

6 varieties of test and 36 tested elements per variety, for total of 216 tests.
13 tests failed (6.02%) and 203 tests passed (93.98%).

                         failed                                          \
RUN                     3050613 3050637 3050638 3050641 3050926 3050928
test
too_many_sat_in_counts1       1       1       1       0       1       1
too_many_sat_in_counts2       0       0       0       1       0       1

                                                                total fails
RUN                     3050929 3051172 3051174 3051176 3051213
test
too_many_sat_in_counts1       1       0       1       0       1           8
too_many_sat_in_counts2       0       1       0       1       1           5

## Details

There are no NaN or negative pixels, but around a third of the runs contain saturated pixels. Let's find out how many.

In [ ]:
df = tests.stats.to_dataframe()

In [ ]:
sat_counts = df[["counts1_sat", "counts2_sat"]]
sat_counts = sat_counts[sat_counts.sum(axis="columns") > 0]
sat_counts

          counts1_sat  counts2_sat
filename
r3050613            1            0
r3050637            3            0
r3050641            0            4
r3050638            1            0
r3050926            1            0
r3050928            5            7
r3050929            8            0
r3051172            0            1
r3051174            1            0
r3051176            0            1
r3051213            1            1

Only a few saturated pixels in each image. Could set `n_allowed_saturated_pixels=10` to allow these tests to pass.