# Measured sky check

> Check that the L1 spectra have a measured sky brightness fainter than the observational requirement.

In [ ]:
from qagmire.diagnostics import MeasuredSkyCheck

In [ ]:
# |hide

# This prevents warnings from appearing in cell outputs, since it has proven difficult
# to suppress warnings arising from dask workers.
%env PYTHONWARNINGS=ignore

env: PYTHONWARNINGS=ignore

## Test GA-CALIB dataset

In [ ]:
tests = MeasuredSkyCheck(n_processes=1)
tests.run(folder="GA-CALIB")

Locating and converting where necessary:   0%|                                                                                      | 0/12 [00:00<?, ?it/s]

Locating and converting where necessary: 100%|███████████████████████████████████████████████████████████████████████████| 12/12 [00:00<00:00, 1390.80it/s]

Reading netCDF files...

took 0.74 s. Size is 5296.042 Mb

Reading files:   0%|                                                                                                                | 0/12 [00:00<?, ?it/s]

Reading files:   8%|████████▋                                                                                               | 1/12 [00:00<00:01,  8.17it/s]

Reading files:  75%|██████████████████████████████████████████████████████████████████████████████                          | 9/12 [00:00<00:00, 25.52it/s]

Reading files: 100%|███████████████████████████████████████████████████████████████████████████████████████████████████████| 12/12 [00:00<00:00, 25.57it/s]

Reading files: 100%|███████████████████████████████████████████████████████████████████████████████████████████████████████| 12/12 [00:00<00:00, 24.14it/s]

Creating Dataset...

took 0.06 s. Size is 4.738 Mb

Reading files:   0%|                                                                                                                | 0/12 [00:00<?, ?it/s]

Reading files:   8%|████████▋                                                                                               | 1/12 [00:00<00:03,  3.29it/s]

Reading files:  83%|█████████████████████████████████████████████████████████████████████████████████████▊                 | 10/12 [00:00<00:00, 20.44it/s]

Reading files: 100%|███████████████████████████████████████████████████████████████████████████████████████████████████████| 12/12 [00:00<00:00, 21.13it/s]

Creating Dataset...

took 0.28 s. Size is 0.078 Mb
Tests took 2.85 s to prepare (including reading data).

Tests took 6.21 s to perform.
sky_too_bright:
    Does the measured sky brightness in the raw spectra satisfy the observational requirement?
sky_too_variable:
    Does the measured sky brightness vary substantially (> 0.2 mag) between the sky fibres for each OB?

In [ ]:
tests.summary()

2 varieties of test and 6 tested elements per variety, for total of 12 tests.
9 tests failed (75.00%) and 3 tests passed (25.00%).

                                                                failed  \
test                                                    sky_too_bright
OBID  filename      RUN     CAMERA MJD         NIGHT
12366 stack_3050925 3050925 BLUE   60385.94781 20240316           True
12382 stack_3050637 3050637 BLUE   60384.93435 20240315           True
12383 stack_3051173 3051173 BLUE   60386.87493 20240317           True
12392 stack_3051211 3051211 BLUE   60386.96006 20240317           True
12367 stack_3050887 3050887 BLUE   60385.87653 20240316          False

                                                                          \
test                                                    sky_too_variable
OBID  filename      RUN     CAMERA MJD         NIGHT
12366 stack_3050925 3050925 BLUE   60385.94781 20240316             True
12382 stack_3050637 3050637 BLUE   60384.93435 20240315             True
12383 stack_3051173 3051173 BLUE   60386.87493 20240317             True
12392 stack_3051211 3051211 BLUE   60386.96006 20240317             True
12367 stack_3050887 3050887 BLUE   60385.87653 20240316             True

                                                        total fails
test
OBID  filename      RUN     CAMERA MJD         NIGHT
12366 stack_3050925 3050925 BLUE   60385.94781 20240316           2
12382 stack_3050637 3050637 BLUE   60384.93435 20240315           2
12383 stack_3051173 3051173 BLUE   60386.87493 20240317           2
12392 stack_3051211 3051211 BLUE   60386.96006 20240317           2
12367 stack_3050887 3050887 BLUE   60385.87653 20240316           1

## Details

The high (in some cases infinite) sigma_sky suggests the sky is being contaminated by bad pixels. This is likely, since the photometry is being done without use of the noise map. **Work to be done**.

In [ ]:
tests.stats.to_dataframe()[tests.stats.data_vars]

       median_sky  sky_limit  sigma_sky
OBID
12398   18.889899       18.5   0.084998
12382   17.781169       18.5        inf
12367   18.683502       18.5        inf
12366   17.431117       18.5   0.350555
12383   18.377818       18.5   0.933422
12392   17.363829       18.5        inf